* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Roboto, Verdana;
}

.counterLogo {
    height: 50vh;
}

.counterLogo-container {
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-principal {
    height: 50vh;
    min-width: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



